<!doctype html>
<html>
  <head>
    <link href="lib/normalize.css" rel="stylesheet" />
    <link href="lib/foundation.css" rel="stylesheet" />
    <link href="build/application.css" rel="stylesheet" />
    <title>Tasks to complete</title>
  </head>

  <body ng-app="App">
    <div class="main">
      <header>
        <h1>
          <a href='#/'>
            Tasks
            <small>to complete</small>
          </a>
        </h3>
        <nav>
          <em>show:</em>
          <a href='#/?state=current'>Yet to do</a>
          <a href='#/?state=done'>Done</a>
        </nav>
        <hr class='bar' />
      </header>


      <script type="text/ng-template" id="tasks-template">
        <ng-include src="'task-form-template'"></ng-include>
        <div class='no-tasks' ng-show="!tasks.length">Nothing to do!</div>
        <ul class='tasks' ng-show='tasks.length'>
          <li ng-repeat="task in tasks | orderBy:taskSorter" ng-class='classFor(task)'>
            <label class='for-checkbox' for='task-{{task.id}}'></label><input type="checkbox" ng-model="task.complete" id='task-{{task.id}}' />
            {{task.description}}
          </li>
        </ul>
        <div class='status'>
          <ng-pluralize count='taskCount' when="{0: 'No tasks.', one: '1 task', other: '{} tasks'}"></ng-pluralize>,
          <ng-pluralize count='incompleteCount' when="{0: 'All done!', one: '1 left.', other: '{} left.'}"></ng-pluralize>
        </div>
        <div class='nuke' ng-click="nukeAllTasks()">
          &#x2716;
        </div>
      </script>

      <script type="text/ng-template" id="task-form-template">
        <form ng-controller="NewTaskController" name="taskForm" ng-submit='addTask(taskForm, task)' novalidate>
          <div class='input'>
            <span class='error-message' ng-show="taskForm.taskDescription.$error.required">describe your task</span>
            <span class='marker'>&#x27BD;</span><input type="text" name="taskDescription" ng-model="task.description" autofocus placeholder='what do you need to do?' required />
          </div>
        </form>
      </script>

      <ng-view></ng-view>

      <script src="lib/underscore.js"></script>
      <script src="lib/angular.js"></script>
      <script>App = angular.module("App", [])</script>
      <script src="build/local-storage.js"></script>
      <script src="build/task.js"></script>
      <script src="build/application.js"></script>
    </div>
  </body>
</html>
