body {
  padding: 10px;

  * {
    font-family: "Signika";
  }
}

hr {
  margin: 10px 0;

  &.bar {
    position: relative;
    background: none;
    border: 0;
    height: 0;
    outline: 0;
    border-top: 2px solid darken(#e6e6e6, 10%);
    border-bottom: 1px solid darken(white, 3%);
    color: darken(#e6e6e6, 10%);
    width: 100%;

    &:before,
    &:after {
      content: 'o';
      position: absolute;
      top: -8px;
      font-size: 11px;
      font-weight: 600;
    }

    &:before {
      left: -6px;
    }
    &:after {
      right: -6px;
    }
  }
}

.main {
  position: relative;
  padding: 20px;
  width: 550px;
  margin: auto;
  margin-top: 100px;
}

.status {
  padding: 10px;
  font-style: italic;
  color: darken(#e6e6e6, 20%);
  text-align: center;
  &:before,
  &:after {
    content: '-';
  }
}

.tasks {
  padding-top: 10px;

  li {
    position: relative;
    list-style-type: none;
    line-height: 40px;
    font-weight: 100;
    font-size: 22px;
    color: darken(#e6e6e6, 40%);

    &.complete {
      text-decoration: line-through;
    }

    .trash {
      font-family: FontAwesome;
      display: none;
      margin-left: 10px;

      &:hover {
        color: lighten(red, 10%)!important;
      }
    }

    &:hover {
      .trash {
        color: lighten(gray, 30%);
        display: inline-block;
      }
    }

    input[type='checkbox'] {
      display: none;
    }

    label {
      width: 30px;
      height: 30px;
      cursor: pointer;
      padding-right: 38px;
      display: inline-block;
      text-decoration: none;

      &:before {
        font-family: 'FontAwesome';
        content: '\f10c';
        color: darken(#e6e6e6, 30%);
      }
    }

    &.complete {
      color: lighten(gray, 30%);
      label {
        &:before {
          content: '\f05d';
          color: darken(#e6e6e6, 10%);
        }
      }
    }

  }
}

nav {
  display: inline-block;

  ul {
    list-style-type: none;
    color: lighten(gray, 15%);
    line-height: 20px;
    margin-bottom: 0;
    margin-left: 15px;

    &:before {
      font-family: FontAwesome;
      content: '\f0b0';
    }
  }

  li {
    display: inline-block;
    margin-left: 5px;

    a {
      color: lighten(gray, 15%);
      text-transform: lowercase;
      padding: 0 4px;
      display: inline-block;

      &.active {
        background: lighten(gray, 25%);
        color: white;
      }

      &:hover {
        color:white;
      }
    }
  }
}

header {
  background: lighten(gray, 35%);
  margin-bottom: 20px;

  h1 {
    font-weight: 500;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 0;

    a,
    a:link,
    a:hover,
    a:visited, {
      color: lighten(yellow, 40%);
      text-transform: uppercase;
      letter-spacing: 4px;
      cursor: pointer;
    }

    small {
      text-transform: lowercase;
      color: darken(#e6e6e6, 30%);
      font-weight: 200;
      font-size: 15px;
      text-shadow: none;
      letter-spacing: 1px;
    }
  }

}

.nuke {
  position: absolute;
  cursor: pointer;
  cursor: hand;
  right: 20px;
  margin-top: 20px;
  color: darken(#e6e6e6, 8%);
}

.no-tasks {
  margin: 30px 0;
  padding: 3px 10px;
  color: darken(#e6e6e6, 30%);
  font-size: 20px;
  color: lighten(gray, 30%);
}

.input {
  position: relative;

  span.error-message {
    display: none;
    &.has-errors {
      display: inline;
    }

    color: lighten(red, 30%);
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 10px;
    &:before,
    &:after {
      content: '...';
    }
  }

  span.marker {
    color: darken(#e6e6e6, 25%);
    display: inline-block;
  }

 .marker {
    font-family: FontAwesome;
    -webkit-animation: jiggle 6s infinite;
    font-size: 20px;
    color: darken(#e6e6e6, 20%);
    display: inline;
    padding-right: 10px;
    display: inline-block;
  }

  input[type=text] {
    background: none;
    border: none;
    outline: none;
    width: 400px;;
    overflow: visible;
    font-size: 26px;
    color: darken(#e6e6e6, 40%);
    font-weight: 100;
  }
}

label {
  &.for-checkbox {
    display: inline-block;
  }
}

@-webkit-keyframes jiggle {
  30% {
    -webkit-transform: translate(0px);
  }
  40% {
    -webkit-transform: translate(3px);
  }
  50% {
    -webkit-transform: translate(0px);
  }
  60% {
    -webkit-transform: translate(3px);
  }
  70% {
    -webkit-transform: translate(0px);
  }
}


